.kickoffpageBg{
    background-image: linear-gradient(#14141479, #14141479), url(./../../public/asset/image/bg/bg-3.jpg);
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;

}
.customCard {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
